:root {
    --color1: #0071b3;
    --color2: #0f8bd3 ;
    --color-fondo: #f8f9fa;
}

h1 {
    color: var(--color1);
}

a {
    color: var(--color1) !important;
    text-decoration: none !important;
}

.fondo {
    background-color: var(--color-fondo);
}

/* Alineaciones */
.left_to_center {
    text-align: left !important;
}
.end-to-center {
    text-align: right !important;
}
.end-to-left {
    text-align: right !important;
}

/* Botones */
.btn-i3a {    
    color: #fff !important;
    background-color: var(--color1) !important;
    border-color: var(--color1) !important;
    font-size: 2rem !important;
}
.btn-i3a-small {    
    font-size: 1.2rem !important;
}
.btn-i3a:hover {
    background-color: var(--color2) !important;
    border-color: var(--color2) !important;
}

/* Formularios */
/* .etiqueta {
    margin-top: 0.5em;
} */

.campo {
    margin-top: 0.5em;
    margin-left: 1em;
}

.fieldWrapper {
    padding-left: 1em;
    margin-top: 2em;
}

.question {
    border-left: 8px solid var(--color1);
}

/* .fieldWrapper:has(.check-opcionales) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
    justify-content: flex-end; 
    gap: 10px; 
} */

.check-opcionales input {
    margin: 0; /* Asegura que no haya márgenes extra */
}

textarea {
    width: 50%;
}

/* Precio final */

.fieldWrapper:has(.precio-final) {
    display: flex;
    align-items: baseline; 
    gap: 10px; /* Espaciado entre el label y el input */
    border-left: none;
    font-size: 2em;
}
.precio-final {
    border: none;             
    background-color: var(--color-fondo);     
    width: 100px;   
    font-weight: 500;
    line-height: 1.2;
    font-size: 3rem;
    padding: 0.5em 0;
}
/* .precio-final-letras {
    font-size: 1.2rem;
} */
.precio-final:disabled {
    color: var(--color1);
}
.precio-final:focus {
    color: var(--color1);
    outline: none;            
    background-color: #fff;  
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .end-to-center {
        text-align: center !important;
    }
    .end-to-left {
        text-align: left !important;
    }
    .left_to_center {
        text-align: center !important;
    }
    .navbar-text {
        display: block;
        width: 100%;
    }
    img {
        max-height: 100px;
    }
    textarea {
        width: 100%;
    }
}
