{% extends "eventos/base.html" %}

{%block title %}{{evento.titulo}}{% endblock %}

{% block main-content %} 

<div class="container my-4">
    <div class="card ">
        <div class="row g-0  align-items-center left_to_center ">
            <div class="col-md-2 p-3">
                <img src="{{evento.imagen.url}}" class="img-fluid rounded-start img-detalle" alt="logo">
            </div>
            <div class="col-md-10 ">
                <div class="p-3">
                    <h1 class="card-title">{{evento.titulo}}</h1>
                    <h3 class="card-text">{{evento.titulo_largo}}</h3>
                    <p class="card-text"><small class="text-body-secondary">{{evento.fecha_inicio}}</small><br>
                    <small class="text-body-secondary">Web: <a href="{{evento.web}}" target="_blank">{{evento.web}}</a></small></p>   
                </div>      
            </div>
        </div>           
        <hr class="m-0">
        <div class="row g-0 fondo  p-3">
            <div class="p-3"> 
                <p class="h4">Instructions:</p>
                <div class="fieldWrapper">
                    {{evento.descripcion|safe}}
                </div>
                <!--<p class="h4">Website:</p>
                <div class="fieldWrapper">
                    {{evento.web|safe}}
                </div>-->
            </div>
            <div class="p-3">   
                <form method="post">
                    {% csrf_token %}
                        <p class="h4">Please select the corresponding options for your registration:</p>
                        {% for field in form %}
                            <div class="fieldWrapper question">
                                {% if field.errors %}
                                    <div class="errors">
                                        {% for error in field.errors %}
                                            <p class="error">{{ error }}</p> <!-- Mostrar los errores de este campo -->
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="etiqueta">{{ field.label_tag }}</div>    
                                <div class="campo">{{ field }}</div>
                            </div>
                        {% endfor %}      
                        <div class="mt-3 end-to-center">
                            <button type="submit" class="btn btn-i3a ">Continue</button>
                        </div>  
                </form>
            </div>
            
        </div>    
    </div>
</div>
{% comment %} 
                    <div class="form-opciones">

                        <div class="row g-0 fondo  p-3">
                            <div class="col-12 col-md-4 col-lg-4">   
                                <fieldset>
                                    <legend>Please select your modality</legend>                 
                                    <!-- 'precioModality' -->                            
                                    <label class="mb-2" for="{{ form.precioModality.id_for_label }}">{{ form.precioModality.label }}</label>
                                    {{ form.precioModality }} 
                                </fieldset>   
                            </div>
                            <div class="col-12 col-md-4 col-lg-4"> 
                                <fieldset>
                                    <legend>Please mark your optional options</legend>
                                    <div>
                                        <!-- 'comida' -->
                                        {{ form.comida }} 
                                        <label class="mb-2" for="{{ form.comida.id_for_label }}">{{ form.comida.label }}</label>   
                                    </div>
                                    <div>
                                        <!-- 'cena' -->
                                        {{ form.cena }} 
                                        <label class="mb-2" for="{{ form.cena.id_for_label }}">{{ form.cena.label }}</label>    
                                    </div>
                                    <div>
                                        <!-- 'cena' -->
                                        {{ form.intolerancias }} 
                                        <label class="mb-2" for="{{ form.intolerancias.id_for_label }}">{{ form.intolerancias.label }}</label>    
                                    </div>
                                </fieldset>                            
                            </div>
                            <div class="col-12 col-md-4 col-lg-4   align-items-end "> 
                            
                                <!-- 'precioFinal' -->
                                <div class="end-to-center">
                                    <label class="precio-final-letras" for="{{ form.precioFinal.id_for_label }}">{{ form.precioFinal.label }}</label>
                                    <span class="euro-symbol precio-final-letras">€</span>
                                    {{ form.precioFinal }}
                                </div>
        
                                <div class="end-to-center">
                                    <button type="submit" class="btn btn-i3a mt-3 ">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> {% endcomment %}
        

    



{% endblock %}

{% block extras %}

<script>
    // Capturar cambio en el campo de precio
    $("input[name='precioModality']").on('change', function () {
        var nuevoPrecio = $(this).val();  // Valor seleccionado
        //var nuevoPrecio = $("input[name='precioModality']:checked").val();
        
        var url = "{% url 'detalle_evento' evento.codigo_i3a %}";  // URL de la vista AJAX
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();  // Token CSRF

        // Enviar solicitud AJAX para recargar con el nuevo precio               
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'nuevoPrecio': nuevoPrecio,
                'csrfmiddlewaretoken': csrfToken,
            },
            // Recojo el valor devuelto por la view para actualizar el campo precio
            success: function (response) {
                if (response.mensaje === 'Precio recibido correctamente') {
                    $("#id_precioFinal").val(response.nuevoPrecio);
                } else {
                    console.log("Error en respuesta AJAX: ", response);
                }
            },
            error: function () {
                console.log('Error en la solicitud.');
            }
        });

    });

</script> 

{% endblock %}
