{% extends "eventos/base.html" %}

{%block title %}{{evento.titulo}}{% endblock %}

{% block main-content %} 

<div class="container mt-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="{{evento.imagen.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 p-3">
                <div class="card-body">
                    <h1 class="card-title">{{evento.titulo}}</h1>
                    <h2 class="card-text">{{evento.titulo_largo}}</h2>
                    <p class="card-text"><small class="text-body-secondary">{{evento.fecha_inicio}}</small></p>                    
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!--<button type="submit" class="btn btn-primary">Update price</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="container p-5">
    <p>{{evento.descripcion}}</p>
</div>

{% endblock %}

{% block extras %}


<script>

    // Capturar cambio en el campo de precio
    $('#precioModality').on('change', function () {
        //var nuevoPrecio = $(this).val();  // Valor seleccionado
        var nuevoPrecio = $("input[name='precioModality']:checked").val();
        console.log("Nuevo precio seleccionado:", nuevoPrecio);
        var url = "{% url 'detalle_evento' evento.codigo_i3a %}";  // URL de la vista AJAX
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();  // Token CSRF
        // Enviar solicitud AJAX
        
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'precio': nuevoPrecio,
                'csrfmiddlewaretoken': csrfToken,
            },
            success: function (response) {
                if (response.status === 'success') {
                    // Actualizar el precio mostrado en la página
                    $('#precioFinal').text(response.nuevo_precio);
                } else {
                    alert('Error al actualizar el precio');
                }
            },
            error: function () {
                alert('Error en la solicitud. Nuevo: ' + nuevoPrecio + 'Anterior: '  );
            }
        });

    }

</script>
  



{% endblock %}
