{% extends "eventos/base.html" %}

{%block title %}{{evento.titulo}}{% endblock %}

{% block main-content %} 

<div class="container mt-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2 p-3">
                <img src="{{evento.imagen.url}}" class="img-fluid rounded-start" alt="logo">
            </div>
            <div class="col-md-10 p-3">
                <div class="card-body">
                    <h1 class="card-title">{{evento.titulo}}</h1>
                    <h3 class="card-text">{{evento.titulo_largo}}</h3>
                    <p class="card-text"><small class="text-body-secondary">{{evento.fecha_inicio}}</small></p>                    
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {% comment %} {{ form.as_p }} {% endcomment %}

                        <div class="form-opciones">
                        
                            <!-- 'precioModality' -->                            
                            <label class="mb-2" for="{{ form.precioModality.id_for_label }}">{{ form.precioModality.label }}</label>
                            {{ form.precioModality }}   

                            <!-- 'precioFinal' -->
                            {% comment %} <label for="{{ form.precioFinal.id_for_label }}">{{ form.precioFinal.label }}</label> {% endcomment %}
                            {{ form.precioFinal }}
                            <span class="euro-symbol">€</span>  

                        </div>

                    </form>

                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mt-3">PROCEED TO PAY</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="container p-5">
    <p>{{evento.descripcion}}</p>
</div>

{% endblock %}

{% block extras %}

<script>
    // Capturar cambio en el campo de precio
    $("input[name='precioModality']").on('change', function () {
        var nuevoPrecio = $(this).val();  // Valor seleccionado
        //var nuevoPrecio = $("input[name='precioModality']:checked").val();
        
        var url = "{% url 'detalle_evento' evento.codigo_i3a %}";  // URL de la vista AJAX
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();  // Token CSRF

        // Enviar solicitud AJAX para recargar con el nuevo precio               
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'nuevoPrecio': nuevoPrecio,
                'csrfmiddlewaretoken': csrfToken,
            },
            // Recojo el valor devuelto por la view para actualizar el campo precio
            success: function (response) {
                if (response.mensaje === 'Precio recibido correctamente') {
                    $("#id_precioFinal").val(response.nuevoPrecio);
                } else {
                    console.log("Error en respuesta AJAX: ", response);
                }
            },
            error: function () {
                console.log('Error en la solicitud.');
            }
        });

    });

</script> 

{% endblock %}
