{% extends "eventos/base.html" %}

{%block title %}I3A Store{% endblock %}

{% block main-content %} 
<div class="jumbotron jumbotron-fluid bg-light mt-3 py-3">
    <div class="container ">
    <h1 class="display-4">I3A Store</h1>
    <p style="text-align:left;">In this website you can&nbsp;register&nbsp;for&nbsp;the&nbsp;<strong>events</strong> or <strong>conferences</strong> organized by the institute.</p>
    <ul>
        <li>Add the corresponding product to the cart, and proceed to payment. The cart only allows one registration in order to collect the data of each participant. Please make <strong>one registration per participant</strong>.</li>
        <li>You can use <strong>credit card</strong> or <strong>bank transfer</strong>.&nbsp;You can also choose the University of Zaragoza Internal Payment option .</li>
        <li>Our invoice will be e-mailed to you within 5 workdays after registration. In the name and VAT Nr of your institution, including also the registered person data (name and ID/Passport Nr).</li>
        <li>For more information you can read our&nbsp;<a href="https://store.i3a.es/en/content/3-terms-and-conditions-of-use" target="_blank" rel="noreferrer noopener">Terms and Conditions of use</a>.</li>
    </ul>
  </div>
</div>

<div class="container mt-5">
        <div class="row">
            {% for evento in eventos %}

                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card h-100 text-center">
                        <img src="{{ evento.imagen.url }}" class="card-img-top p-3" alt="{{ evento.titulo }}">
                        <div class="card-body bg-light">
                            <h5 class="card-title"><a href="{{evento.codigo_i3a}}">{{ evento.titulo }}</a></h5>
                            <p class="card-text">{{ evento.fecha_inicio }}</p>
                            <a href="{{evento.codigo_i3a}}" class="btn btn-primary">ENTER</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
</div>

{% endblock %}

  
