{% extends "eventos/base.html" %}

{%block title %}I3A Store{% endblock %}

{% block main-content %} 
<div class="jumbotron jumbotron-fluid bg-light mt-3 py-3">
    <div class="container ">
    <p style="text-align:left;">In this website you can register for the events organized by the I3A institute.</p>
    <ul>
        <li>You can use credit card or bank transfer.</li>
        <li>Only one person per registration.</li>
        <li>Our invoice will be e-mailed to you within 5 workdays after registration. In the name and VAT Nr of your institution, including also the registered person data (name and ID/Passport Nr).</li>
        <li>For more information you can read our&nbsp;<a href="https://store.i3a.es/en/content/3-terms-and-conditions-of-use" target="_blank" >Terms and Conditions of use</a>.</li>
    </ul>
  </div>
</div>

<div class="container mt-5">
        <div class="row">
            {% for evento in eventos %}

                <div class="col-12 col-md-4 col-lg-3 mb-2">
                    <div class="card text-center">
                        <img src="{{ evento.imagen.url }}" class="card-img-top " alt="{{ evento.titulo }}">
                        <div class="card-body bg-light">
                            <h5 class="card-title"><a href="{{evento.codigo_i3a}}">{{ evento.titulo }}</a></h5>
                            <p class="card-text">{{ evento.fecha_inicio }}</p>
                            <a href="{{evento.codigo_i3a}}" class="btn btn-i3a btn-i3a-small">ENTER</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
</div>

{% endblock %}

  
