{% extends "eventos/base.html" %}

{%block title %}I3A Store - List of events{% endblock %}

{% block main-content %} 
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Eventos</h1>
        <div class="container mt-4">
            <div class="row">
                {% for evento in eventos %}

                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                        <img src="{{ evento.imagen.url }}" class="card-img-top" alt="{{ evento.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ evento.titulo }}</h5>
                            <p class="card-text">{{ evento.titulo_largo }} {{ evento.precio_base }} €</p>
                            <a href="{{ item.url }}" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>


                <!--
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="{{ evento.imagen.url }}" class="card-img-top" alt="{{ evento.titulo }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ evento.titulo }}</h5>
                                <p class="card-text">{{ evento.titulo_largo }}</p>
                                <p class="card-text"><strong>Precio Base:</strong> ${{ evento.precio_base }}</p>
                            </div>
                        </div>
                    </div>
                -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
